PORT=3032
DB_HOST=localhost
DB_PORT=5432
DB_NAME=flags_db
DB_USER=postgres
DB_PASSWORD=postgres
KAFKA_BROKER=kafka:9092
KAFKA_CLIENT_ID=feature-flag-service
KAFKA_TOPIC=flag.updated
JAEGER_ENDPOINT=http://jaeger:14268/api/traces
